@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
}

.section-header {
  margin: 30px 0;
}

#hero {
  height: 130vh;
  background-image: url(../images/hero_pizza.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero .hero-content {
  text-align: center;
  padding-top: 10rem;
}

#header {
  position: absolute;
  right: 0;
  left: 0;
}

#header nav {
  background-color: transparent;
}

#header nav ul li a {
  color: #000000;
}

#popular {
  position: relative;
}

#popular .pizza-box {
  border: 1px solid #ECEEF6;
  border-radius: 15px;
  padding: 10px;
  padding: 10px;
  margin-bottom: 30px;
  position: relative;
}

#popular .pizza-box .select-size {
  position: absolute;
  padding: 20px;
  background-color: rgba(255, 254, 254, 0.9);
  width: 100%;
  height: 100%;
}

#popular .pizza-box .select-size input {
  margin: 10px 0;
  margin-right: 5px;
}

#popular .pizza-box .select-size .add-to-basket {
  background: linear-gradient(116.88deg, #FE3326 -4.28%, #F26E0E 112.69%), #59AAF1;
  -webkit-box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
          box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
  border-radius: 3px;
  border: none;
  padding: 5px 35px;
  color: white;
  margin-top: 25px;
}

#popular .pizza-box .img-part {
  width: 100%;
  margin-left: 22px;
}

#popular .pizza-box .img-part img {
  width: 100%;
}

#popular .pizza-box .box-body p {
  font-size: 14px;
  padding-top: 5px;
}

#popular .pizza-box .box-body span {
  font-size: 14px;
}

#popular .pizza-box .box-body .box-title {
  font-size: 16px;
}

#popular .pizza-box .box-body h3 {
  color: #121146;
  margin-top: 20px;
  margin-bottom: 40px;
}

#popular .pizza-box::after {
  content: ' ';
  width: 50px;
  height: 50px;
}

#popular .pizza-box .round {
  background-color: white;
  padding: 21px;
  border-radius: 97%;
  position: absolute;
  left: 35%;
  bottom: -5%;
  border-bottom: 1px solid #ECEEF6;
}

#popular .pizza-box .round i {
  position: absolute;
  top: 6px;
  left: 8px;
  color: #F58656;
}

#popular .pizza-box .round .icon-wrapper {
  padding: 15px;
  border: 1px solid #ECEEF6;
  position: relative;
  border-radius: 50%;
  top: 11px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#popular .pizza-box .round .icon-wrapper:hover {
  background-color: #F58656;
}

#popular .pizza-box .round .icon-wrapper:hover i {
  color: white;
}

#popular .cart-field {
  position: absolute;
  right: 10%;
  top: 2%;
}

#popular .cart-field .cart-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
          box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
  position: relative;
}

#popular .cart-field .cart-button i {
  color: #F58656;
  font-size: 30px;
  position: absolute;
  left: 30%;
  top: 25%;
}

#popular .cart-field .cart-button .count {
  position: absolute;
  padding: 5px;
  background: #f58656;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  font-weight: 700;
  bottom: -6px;
  right: -6px;
}

footer {
  height: 100vh;
  margin-top: 50px;
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

footer form {
  padding-top: 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer form input {
  padding: 0 20px;
  border-radius: 30px;
  outline: none;
  border: none;
  margin: 0 20px;
}

footer form button {
  padding: 3px 50px;
  border: none;
  background-color: #F58656;
  color: white;
  border-radius: 30px;
}

footer form button i {
  margin-left: 25%;
}

footer .partTwo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.f-4 {
  font-weight: 400;
}

.f-5 {
  font-weight: 500;
}

.f-6 {
  font-weight: 600;
}

.f-7 {
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */